<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask TODO App</title>

  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet">

</head>
<body class="bg-dark text-light">

<div class="container mt-5">
  <h2 class="text-center mb-4">📝 Flask To-Do List with Database</h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-4 rounded-4">
        <h3 class="text-center mb-4">Add Your Task</h3>
        <form action="/add" method="POST" class="d-flex">
          <input type="text" name="task" class="form-control form-control-lg rounded-start-3" placeholder="Enter your task..." required>
          <button type="submit" class="btn btn-primary btn-lg rounded-end-3 ms-2">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h3 class="text-center mb-4">My Tasks</h3>

  <ul class="list-group">
    {% for t in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center
      {% if t.empcomplate %} list-group-item-success text-decoration-line-through {% else %} list-group-item-light {% endif %}">

      <a href="/toggle/{{ t.empid }}" class="text-decoration-none flex-grow-1">
        {{ t.emptask }}
      </a>

      <div>
        <a href="/toggle/{{ t.empid }}" class="btn btn-sm btn-outline-success me-2">
          {% if t.empcomplate %}Undo{% else %}Complete{% endif %}
        </a>
        <a href="/delete/{{ t.empid }}" class="btn btn-sm btn-danger">Delete</a>
      </div>

    </li>
    {% endfor %}
  </ul>
</div>

</div>

</body>
</html>
